.yourTime {
	padding: 1em;
	border: 1px solid;
	margin: 1em;
	text-align: center;
}

.yourTimeList {
	padding: 1em;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

h1 {
	text-align: center;
}

.dateText {
	padding-bottom: 8px;
}

.success-message {
	color: green;
	font-weight: bold;
	margin-bottom: 10px;
}

.error-message {
	color: red;
	font-weight: bold;
	margin-bottom: 10px;
}

.graph {
	display: flex;
	justify-content: center;
	padding: 2em;
}

.delete-document-button {
	background-color: #64a19d;
	padding: .5em;
	color: white;
	border-radius: 25px;
}

.activity-button {
	background-color: #64a19d;
	padding: .5em;
	color: white;
	border-radius: 25px;
	margin: .2em;
	margin-left: .5em;
}